body {
  margin-left: 10px;
}
.classForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}
.classLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.classBtn {
  width: fit-content;
  background-color: lightgrey;
  justify-items: center;
  text-align: center;
}
