.classForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.classLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.classBtn {
  width: fit-content;
  background-color: lightgrey;
  justify-items: center;
}
